language: cpp

os:
  - linux

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - cppcheck
      - cmake
      - gcc-4.8

before_install:
  - sudo pip install cpplint
  - git clone https://github.com/dtschump/CImg.git
#  - git submodule update --init --recursive

script:
  - cmake CMakeLists.txt && make
  - sudo make install
  - rm CImg -rF  # dont lint CImg
  - cppcheck --enable=all ./lspng
  - cpplint grepc/* --extensions=cc,h
